__dev__
__pycache__
*.eggs
*.egg-info
.idea
.DS_Store
.cache
build
dist
*.pyc
venv
*.log
*.json
*.txt
plugins
tests/test_extended.py
*.mo
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
